@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 80%;
  width: 99%;
  font-family: 'Roboto', sans-serif; 
  margin-top: 30px;
  background-color: rgb(203, 225, 244);
}
.contain{
    border: 2px solid black;
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(159, 156, 156);
    box-shadow: 5px 3px 5px 3px rgb(146, 144, 144);
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  font-size: 20px;
  font-weight: 500;
  border: 3px solid black;
  border-radius: 9px;
  cursor: pointer;
  background-color: rgb(236, 219, 197);
  box-shadow: 3px 3px 3px 3px rgb(116, 115, 115);
}
.btn{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  font-size: 20px;
  font-weight: 500;
  border: 3px solid black;
  border-radius: 9px;
  cursor: pointer;
  background-color: rgb(152, 124, 87);
  box-shadow: 3px 3px 3px 3px rgb(116, 115, 115);
}
.button:hover, .btn:hover{
  background-color: rgb(87, 87, 87);
}

.row{
  margin: 8px 0;
}
.row input{
  width: 295px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: right;
    box-shadow: 3px 3px 3px 3px rgb(116, 115, 115);
}

@media  (max-width: 360px)  {
  .contain{
      width: 250px;
      height: 50vh;
}
.button{
  width: 52px;
  padding: 15px;
}
.row input{
  width: 242px;
}
}
@media  (max-width: 360px){
  .contain{
    width: 200px;
}
.button{
  width: 40px;
  padding: 10px;
}
.row input{
  width: 200px;
}
}